.antman {
	width: 14%;
	height: 14%;
	align-items: middle;
	transition-property: all;
	transition-duration: 1s;
	float: none;
	transform: scale(1, 1);

	animation: antman poster;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

@-webkit-keyframes imposter {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: 600px;
	}
}
.janet {
	width: 20%;
	height: 20%;
	display: flex;
	align-items: center;
	float: left;
	animation-name: imposter;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}

@-webkit-keyframes among {
	0% {
		margin-right: 0;
	}

	100% {
		margin-right: 600px;
	}
}
.hank {
	width: 20%;
	height: 20%;
	display: flex;
	align-items: center;
	float: right;
	animation-name: among;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}

@-webkit-keyframes us {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: 600px;
	}
}
.yellow {
	width: 20%;
	height: 20%;
	display: flex;
	align-items: center;
	float: left;
	animation-name: us;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}